.Header h1 {
    font-size: 60px;
    line-height: 1;
    margin: 0;
}

.Header-svg {
    width: 400px;
    display: block;
}

.Header-logo {
    position: absolute;
    height:158px;
    right:0;
    bottom:-2px;
}

@media only screen and (max-width: 800px) {
    .Header h1 {
        font-size: 45px;
        text-align: center;
    }
    .Header-svg {
        width: 250px;
        margin: 0 auto;
    }
    .Header-logo {
        display: none;
    }
}