.App-loading {
  animation: App-loading-spin infinite 20s linear;
  height: 80px;
  margin: 20px auto;
  width: 50px;
  display:block;
}

@keyframes App-loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
