.SideBar {
    background-color: #ffffff;
}

.SideBar-img {
    opacity: 0.3;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.SideBar-img.active {
    opacity: 1;
}